.form-control {
  border-radius: 20px;
  padding: 8px 40px;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.notification {
  font-size: 20px;
  cursor: pointer;
}

.badge {
  font-size: 10px;
  padding: 4px 6px;
  border-radius: 50%;
  background-color: #118577;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.notification-dropdown {
  position: absolute;
  right: 200px;
  top: 65px;
  background: white;
  border: 1px solid #ddd;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.notif-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.notif-item.unread {
  background: #f0f8ff;
  font-weight: bold;
}
