<aside class="sidebar  text-white d-flex flex-column justify-content-between p-3 pt-5">
  <ul class="menu">
    <li routerLink="/" routerLinkActive="active_link" [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-home"></i> Dashboard</li>
    <li routerLink="/users" routerLinkActive="active_link" ><i class="fa-solid fa-users"></i> Users</li>
    <li routerLink="/mentors" routerLinkActive="active_link" ><i class="fas fa-user-friends"></i> Mentors</li>
    <li routerLink="/Sessions" routerLinkActive="active_link" ><i class="fa-solid fa-video"></i> Sessions </li>
    <li ><i class="fas fa-clipboard-list"></i> Transactions</li>
    <li><i class="fas fa-comments"></i> Chat</li>
    <li><i class="fas fa-cog"></i> Settings</li>
    <hr>

    <li>My Profile</li>
    <li><i class="fas fa-bell"></i> Notification</li>

    <li class="footer-text">Privacy & Security</li>
  </ul>
</aside>
