.showing-entries{
  font-size: 0.85rem;
}

.pagination-container {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}

.page-size-selector {
  width: 120px;
}

.btn-success {
  background-color: #118577;
  border: none;
}

.btn-outline-secondary:hover{
  background-color: #172E59;
}
