.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

.header {
  grid-column: 1 / -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.sidebar {
  grid-row: 2 / -1;
  grid-column: 1 / 2;
  position: fixed;
  z-index: 999;
  top: 83px;
  bottom: 0;
  width: 250px;
  transition: all 0.3s ease;
}

.content {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  margin-left: 250px;
  margin-top: 60px;
  padding: 16px;
  overflow-y: auto;
}

.content.collapsed {
  margin-left: 60px;
}

.sidebar.collapsed {
  width: 60px !important;
  /* left: -250px; */
  transition: all 0.3s ease;
}

.sidebar-overlay {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 80;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
}

.sidebar-toggle {
  position: fixed;
  left: 10px !important;
  top: 90px;
  z-index: 1000;
  background: transparent;
  color: white !important;
  /* border: 1px solid #cbcbcb; */
  /* border-radius: 0px 20px 20px 0px; */
  /* background-color: #fff; */
  color: #595C5F;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar-toggle:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.angle-icon {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

@media (min-width: 769px) {
  .sidebar-toggle {
    display: none;
  }
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 0 1fr;
  }

  .content {
    margin-left: 0;
  }
}
