<div class="container mt-3">
  <div class="py-3">
    <h2>Welcome {{ adminDetails?.name?.split(' ')[0] }}!</h2>
    <p>Dashboard</p>

    <div class="stats-container">
      @for(stat of stats; track $index){
      <div class="stat-card">
        <div class="stat-card-top">
          <div class="stat-icon" [ngStyle]="{'border-color': stat.color}">
            <i class="{{ stat.icon }}" [ngStyle]="{'color': stat.color}"></i>
          </div>
          <h3>{{ stat.value }}</h3>
        </div>
        <div class="stat-card-bottom">
          <p>{{ stat.label }}</p>
          <div class="progress-bar">
            <div class="progress" [ngStyle]="{'width': stat.progress + '%', 'background-color': stat.color}"></div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  <div class="row">
    <!-- Mentor List -->
    <div class="col-md-6">
      <div class="card shadow-sm rounded-3">
        <h5 class="card-header bg-white">Mentor List</h5>
        <div class="card-body p-0">
          @if(isLoading) {
            <app-spinner></app-spinner>
          }

          @if(!isLoading){
          <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">
              <thead>
                <tr>
                  <th scope="col " class="ps-4 second-color">Mentor Name</th>
                  <th scope="col">Member Since</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                @for(mentor of mentors | slice:0:5; track mentor._id; let i = $index){
                <tr>
                  <td class="ps-4">
                    <div class="d-flex align-items-center">
                      <img [src]="'http://localhost:3000/img/users/' + (mentor?.image || 'profile-img.png')"
                        [alt]="mentor.name" class="avatar rounded-circle me-3">
                      <div>
                        <div class="fw-semibold">{{ mentor.name }}</div>
                        <small class="text-muted">{{ mentor.title }}</small>
                      </div>
                    </div>
                  </td>

                  <td>
                    <span class="badge text-dark fw-bold">{{ mentor.updatedAt }}</span>
                  </td>

                  <td>
                    <span class="badge" [ngClass]="{
                          'bgact': mentor.status === 'active',
                          'bgpend': mentor.status === 'inactive'
                        }">
                      {{ mentor.status | titlecase }}
                    </span>
                  </td>

                </tr>
                } @empty {
                <tr>
                  <td colspan="6" class="text-center py-4 text-muted">
                    No Mentors found
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
          }
        </div>
      </div>
    </div>

    <!-- Learner List -->
    <div class="col-md-6">
      <div class="card shadow-sm rounded-3">
        <h5 class="card-header bg-white">Learner List</h5>
        <div class="card-body p-0">
          @if(isLoading) {
            <app-spinner></app-spinner>
          }

          @if(!isLoading){
          <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">
              <thead>
                <tr>
                  <th scope="col " class="ps-4 second-color">User Name</th>
                  <th scope="col">Member Since</th>
                </tr>
              </thead>
              <tbody>
                @for(user of users | slice:0:5; track user._id; let i = $index){
                <tr>
                  <td class="ps-4">
                    <div class="d-flex align-items-center">
                      <img [src]="'http://localhost:3000/img/users/' + (user?.image || 'profile-img.png')" [alt]="user.name" class="avatar rounded-circle me-3">
                      <div>
                        <div class="fw-semibold">{{ user.name }}</div>
                        <small class="text-muted">{{ user.title }}</small>
                      </div>
                    </div>
                  </td>

                  <td>
                    <span class="badge text-dark fw-bold">{{ user.updatedAt }}</span>
                  </td>
                </tr>
                } @empty {
                <tr>
                  <td colspan="6" class="text-center py-4 text-muted">
                    No users found
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-3">
  <div class="card shadow-sm rounded-3">
    <h5 class="card-header bg-white">Booking List</h5>

    <!-- Booking Table -->
    <div class="card-body p-0">
      @if(isLoading) {
        <app-spinner></app-spinner>
      }

      @if(!isLoading){
      <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
          <thead>
            <tr>
              <th scope="col " class="ps-4 second-color">Session Title</th>
              <th scope="col">Sessions Price</th>
              <th scope="col">Mentor Name </th>
              <th scope="col">Date</th>
              <th scope="col">status</th>
              <th scope="col">Duration</th>

            </tr>
          </thead>
          <tbody>
            @for(session of sessions | slice:0:5; track session._id; let i = $index){
            <tr>
              <td>
                <span class="badge text-dark fw-bold">{{ session.title }}</span>
              </td>

              <td>
                <div class="d-flex align-items-center">
                  <div>
                    <div class="fw-semibold">${{ session.price | number:'1.2-2' }}</div>
                  </div>
                </div>
              </td>

              <td>
                <div>{{ getMentorName(session.mentor) }}</div>
              </td>

              <td>
                <div>
                  {{ session.schedule_time }}
                </div>
              </td>

              <td>
                <span class="badge" [ngClass]="{
                      'bgact': session.status === 'active',
                      'bgpend': session.status === 'pending'
                    }">
                  {{ session.status | titlecase }}
                </span>
              </td>

              <td>
                <div>{{session.duration}} minute</div>
              </td>
            </tr>
            } @empty {
            <tr>
              <td colspan="6" class="text-center py-4 text-muted">
                No sessions found
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      }
    </div>
  </div>
</div>
