<div class="container mt-3">
  <div class="py-3">
    <h2>Welcome Admin!</h2>
    <p>Dashboard</p>

    <div class="stats-container">
      @for(stat of stats; track $index){
      <div class="stat-card">
        <div class="stat-card-top">
          <div class="stat-icon" [ngStyle]="{'border-color': stat.color}">
            <i class="{{ stat.icon }}" [ngStyle]="{'color': stat.color}"></i>
          </div>
          <h3>{{ stat.value }}</h3>
        </div>
        <div class="stat-card-bottom">
          <p>{{ stat.label }}</p>
          <div class="progress-bar">
            <div class="progress" [ngStyle]="{'width': stat.progress + '%', 'background-color': stat.color}"></div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  <div class="row">
    <!-- Mentor List -->
    <div class="col-md-6">
      <div class="card shadow-sm rounded-3">
        <h5 class="card-header bg-white">Mentor List</h5>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">
              <thead>
                <tr>
                  <th scope="col " class="ps-4 second-color">Mentor Name</th>
                  <th scope="col">Member Since</th>
                  <th scope="col">Status</th>
                  <th scope="col" class="text-end pe-4">Earnd</th>

                </tr>
              </thead>
              <tbody>
                @for(mentor of mentors; track mentor.id; let i = $index){
                <tr>
                  <td class="ps-4">
                    <div class="d-flex align-items-center">
                      <img [src]="mentor.mentor.image" [alt]="mentor.mentor.name" class="avatar rounded-circle me-3">
                      <div>
                        <div class="fw-semibold">{{ mentor.mentor.name }}</div>
                        <small class="text-muted">{{ mentor.mentor.title }}</small>
                      </div>
                    </div>
                  </td>

                  <td>
                    <span class="badge text-dark fw-bold">{{ mentor.date }}</span>
                  </td>

                  <td>
                    <span class="badge" [ngClass]="{
                          'bgact': mentor.status === 'active',
                          'bgpend': mentor.status === 'pending'
                        }">
                      {{ mentor.status | titlecase }}
                    </span>
                  </td>

                  <td class="text-end pe-4 fw-semibold">
                    ${{ mentor.earnd | number:'1.2-2' }}
                  </td>

                </tr>
                } @empty {
                <tr>
                  <td colspan="6" class="text-center py-4 text-muted">
                    No Mentors found
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Learner List -->
    <div class="col-md-6">
      <div class="card shadow-sm rounded-3">
        <h5 class="card-header bg-white">Learner List</h5>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">
              <thead>
                <tr>
                  <th scope="col " class="ps-4 second-color">User Name</th>
                  <th scope="col">Member Since</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                @for(user of users; track user.id; let i = $index){
                <tr>
                  <td class="ps-4">
                    <div class="d-flex align-items-center">
                      <img [src]="user.user.image" [alt]="user.user.name" class="avatar rounded-circle me-3">
                      <div>
                        <div class="fw-semibold">{{ user.user.name }}</div>
                        <small class="text-muted">{{ user.user.title }}</small>
                      </div>
                    </div>
                  </td>

                  <td>
                    <span class="badge text-dark fw-bold">{{ user.date }}</span>
                  </td>

                  <td>
                    <span class="badge" [ngClass]="{
                            'bgact': user.status === 'active',
                            'bgpend': user.status === 'pending'
                          }">
                      {{ user.status | titlecase }}
                    </span>
                  </td>

                </tr>
                } @empty {
                <tr>
                  <td colspan="6" class="text-center py-4 text-muted">
                    No users found
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-3">
  <div class="card shadow-sm rounded-3">
    <div class="card-header bg-white d-flex flex-column flex-md-row justify-content-between align-items-center">
      <h5 class="mb-4 mb-md-0">Booking List</h5>
      <!-- <div class="d-flex flex-column flex-sm-row gap-3">
        <select class="form-select form-select-sm" style="width: 150px;" [(ngModel)]="statusFilter">
          <option value="">All Statuses</option>
          <option value="completed">Completed</option>
          <option value="upcoming">Upcoming</option>
          <option value="cancelled">Cancelled</option>
        </select>
      </div> -->
    </div>

    <!-- Booking Table -->
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
          <thead>
            <tr>
              <th scope="col">Sessions Id</th>
              <th scope="col " class="ps-4 second-color">Session Title</th>
              <th scope="col">Sessions Price</th>
              <th scope="col">Mentor Name </th>
              <th scope="col">Date</th>
              <th scope="col">status</th>
              <th scope="col">Duration</th>

            </tr>
          </thead>
          <tbody>
            @for(session of sessions; track session.id; let i = $index){
            <tr>
              <td class="ps-4">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="fw-semibold">{{ session.id }}</div>
                  </div>
                </div>
              </td>

              <td>
                <span class="badge text-dark fw-bold">{{ session.Title }}</span>
              </td>

              <td>
                <div class="d-flex align-items-center">
                  <div>
                    <div class="fw-semibold">${{ session.Price | number:'1.2-2' }}</div>
                  </div>
                </div>
              </td>

              <td>
                <div>{{ session.MentorName }}</div>
              </td>

              <td>
                <div>
                  {{ session.Date }}

                </div>
                <div class="text-muted small">5:00 AM</div>


              </td>

              <td>
                <span class="badge" [ngClass]="{
                      'bgact': session.status === 'active',
                      'bgpend': session.status === 'pending'
                    }">
                  {{ session.status | titlecase }}
                </span>
              </td>



              <td>
                <div>{{session.Duration}} minute</div>
              </td>
            </tr>
            } @empty {
            <tr>
              <td colspan="6" class="text-center py-4 text-muted">
                No sessions found
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
