<!-- Transactions Table -->
<h2>Transactions</h2>
<p>Dashboard / <span class="frist-color">Transactions</span></p>

<div class="card rounded">
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-hover align-middle mb-0">
        <thead>
          <tr>
            <th scope="col " class="ps-4 second-color">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Mentor Name</th>
            <th scope="col">User Name</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Payment Status</th>
          </tr>
        </thead>
        <tbody>
          @for(transaction of transactions; track transaction._id; let i = $index){
          <tr>
            <td class="ps-4">
              <div class="d-flex align-items-center">
                <div>
                  <div class="frist-color">{{ transaction._id }}</div>
                </div>
              </div>
            </td>

            <td class="ps-4">
              <div class="d-flex align-items-center">
                <div>
                  <div>{{ transaction.createdAt }}</div>
                </div>
              </div>
            </td>

            <td class="ps-4">
              <div class="fw-semibold">{{ getMentorName(transaction.session.mentor) }}</div>
            </td>

            <td class="ps-4">
              <div class="fw-semibold">{{ transaction.user.name }}</div>
            </td>

            <td>
              <div>${{ transaction.session.price | number:'1.2-2' }}</div>
            </td>

            <td>
              <span class="badge" [ngClass]="{
                    'bgact': transaction.paymentStatus === 'paid',
                    'bgpend': transaction.paymentStatus === 'unpaid'
                  }">
                {{ transaction.paymentStatus | titlecase }}
              </span>
            </td>
          </tr>
          } @empty {
          <tr>
            <td colspan="6" class="text-center py-4 text-muted">
              No users found
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
