.card {
  border: 2px solid hsl(0, 0%, 88%);
  border-radius: 30px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.card-header {
  font-size: 1.25rem;
  font-weight: 600;
}

.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.badge {
  font-size: 0.875rem;
  padding: 0.3em 0.75em;
  border-radius: 50px;
}

.pagination .page-link {
  color: #198754;
}

.pagination .page-item.active .page-link {
  background-color: #198754;
  border-color: #198754;
  color: #fff;
}

th {
  color: #172E59 !important;
}

/* From Uiverse.io by gharsh11032000 */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1.1em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #e8edf1a6;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1em;
  width: 1em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked+.slider {
  background: #172E59;
}

.switch input:focus+.slider {
  box-shadow: 0 0 1px #172E59;
}

.switch input:checked+.slider:before {
  transform: translateX(1.6em);
}

.bgact {
  background-color: #118577 !important;
}

.bgpend {
  background-color: #172E59;
}

.button-container {
  display: flex;
  gap: 10px;
}

button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
}

.edit-btn {
  background-color: #e6f9e6;
}

.delete-btn {
  background-color: #fde8e8;
  color: #dc3545;
}

i {
  font-size: 16px;
}
