<!-- Mentors Table -->
<h2>Mentors</h2>
<p>Dashboard / <span class="frist-color">Mentor</span></p>

<div class="card rounded">
  <div class="card-body p-0">
    @if(isLoading) {
      <app-spinner></app-spinner>
    }

    @if(!isLoading){
    <div class="table-responsive">
      <table class="table table-hover align-middle mb-0">
        <thead>
          <tr>
            <th scope="col " class="ps-4 second-color">Mentor Name</th>
            <th scope="col">Member Since</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Status</th>

          </tr>
        </thead>
        <tbody>
          @for(mentor of mentors; track mentor._id; let i = $index){
          <tr>
            <td class="ps-4">
              <div class="d-flex align-items-center">
                <img [src]="'http://localhost:3000/img/users/' + (mentor.image || 'profile-img.png')" [alt]="mentor.name" class="avatar rounded-circle me-3">
                <div>
                  <div class="fw-semibold">{{ mentor.name }}</div>
                  <small class="text-muted">{{ mentor.title }}</small>
                </div>
              </div>
            </td>

            <td>
              <span class="badge text-dark fw-bold">{{ mentor.updatedAt }}</span>
            </td>

            <td>
              <div class="d-flex align-items-center">
                <div>
                  <div class="fw-semibold">{{ mentor.email }}</div>
                </div>
              </div>
            </td>

            <td>
              <div>{{ mentor.phone }}</div>
            </td>

            <td>
              <span class="badge" [ngClass]="{
                    'bgact': mentor.status === 'active',
                    'bgpend': mentor.status === 'inactive'
                  }">
                {{ mentor.status | titlecase }}
              </span>
            </td>
          </tr>
          } @empty {
          <tr>
            <td colspan="6" class="text-center py-4 text-muted">
              No mentors found
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    }
  </div>
</div>
